@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #333;
}

.contact h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
  color: #fff;
}

.contact form {
  width: 600px;
  text-align: center;
}

form .input_box {
  display: flex;
  justify-content: space-between;
}

.input_box .input_field {
  width: 47%;
}

.field .item {
  width: 100%;
  padding: 18px;
  background: transparent;
  border: 2px solid aqua;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
  margin: 12px 0;
  color: #fff;
}

.field.error .item {
  border-color: #d03025;
}


.field .item::placeholder {
  color: #fff;
}

.field.error .error_txt {
  display: block;
}

.field .error_txt {
  font-size: 15px;
  color: #d03025;
  text-align: left;
  margin: -5px 0 10px;
  display: none;
}

form .textarea_field .item {
  resize: none;
}

form .textarea_field .error_txt {
  margin-top: -10px;
}

form button {
  padding: 12px 32px;
  background-color: aqua;
  border: none;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px aqua;
  font-size: 16px;
  color: #333;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.5s;
}

form button:hover {
  box-shadow: none;
}
